@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    word-break: break-word;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

header nav a:hover {
    color: #ffa4a4;
}

header nav a.active {
    color: #ff5858 !important;
}

header nav a.active:hover {
    color: #ff0000 !important;
}

.search-bar {
    margin: 1rem auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.summary {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 1rem;
    text-align: center;
    gap: 1rem;
}

.card p {
    font-size: 0.9rem;
    color: #666;
}

.card a {
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0;
    color: #b30000;
    font-weight: bold;
    background-image: linear-gradient(#960000, #960000);
    background-position: left bottom;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: transform 0.2s, box-shadow 0.2s, background-size 0.3s ease-in-out, color 0.2s ease-in-out;
}

.card a:hover {
    color: #960000;
    background-size: 100% 2px;
}

a:not(header nav a):not(.card a) {
    margin: 0;
    color: #b30000;
    font-weight: bold;
    text-decoration: none;
    word-break: break-word; 
    background-image: linear-gradient(#960000, #960000);
    background-position: left bottom;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out, color 0.2s ease-in-out;
}

a:not(header nav a):not(.card a):hover {
    color: #960000;
    background-size: 100% 2px; 
}

iframe {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    zoom: 70%;
    border: 1px solid #ddd;
}

@media (max-width: 600px) {
    .card {
        width: 75%;
    }

    .search-bar {
        max-width: 90%;
    }
}