@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    word-break: break-word;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #b30000 #333;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f9f9f9;
}

::-webkit-scrollbar-thumb {
    background-color: #b30000;
    border-radius: 6px;
    border: 3px solid #f9f9f9;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #960000;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    background-color: #f9f9f9;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem auto;
    padding: 0 1rem;
    align-items: center;
}

body {
    margin: 0;
}

@media (max-width: 650px) {

}